* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

form {
  overflow: hidden;
}
label {
  margin-top: 10px;
}

body {
  font-family: monospace;
}
textarea {
  border: 2px solid white;
}

/* moblie resosivcance  */
@media only screen and (max-width: 600px) {
  .countiner {
    border: none;
    box-shadow: none;
  }

  img {
    display: none;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .head {
    font-size: 35px;
    margin: 19px;
  }

  input,
  select {
    width: 92%;
    margin: 10px 0px;
    height: 3rem;
    font-size: 22px;
  }

  input[type="submit"] {
    width: 92%;
    margin: 0px;
  }

  form {
    width: 100%;
  }
}
