input {
  width: 92%;
  margin: 10px 0px;
  height: 3rem;
  font-size: 22px;
  border-radius: 10px;
}

select {
  width: 20%;
  margin: 10px 0px;
  height: 3rem;
  font-size: 20px;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 10px;
}

td,
th {
  padding: 10px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr:nth-of-type(odd) {
    background: #eee;
    color: rgb(41, 40, 40);
    border: 2px solid rgb(255, 255, 255);
  }

  tr {
    border: 1px solid rgb(255, 255, 255);
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid rgb(250, 250, 250);
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "First Name";
  }
  td:nth-of-type(2):before {
    content: "City";
  }
  td:nth-of-type(3):before {
    content: "Contact";
  }
  td:nth-of-type(4):before {
    content: "Blood Group";
  }
  td:nth-of-type(5):before {
    content: "Availblity";
  }
}
